<link rel="stylesheet" type="text/css" href="/css/appointment.css">
<div class="mt-4">&nbsp;</div>
<form action="/users/appointment/check-availability" method="post">
    <div class="card m-5 chageColor">
        <div class="d-flex justify-content-center">
            <div class="form-group m-4 w-25">
                <label for="dob">Date:</label>
                <%if(locals.date===null){%>
                    <input class="form-control" type="date" id="dob" name="date" value="<%=user.birth_date%>"
                        placeholder="Select Date of Birth">
                    <%}else{%>
                        <input class="form-control" type="date" id="dob" name="date" value="<%= locals.date%>"
                            placeholder="Select Date of Birth">
                        <%}%>
            </div>
        </div>
    </div>
    <div class="text-center">
        <button class="btn btn-success my-4 btn-lg" type="submit">check-availability</button>
    </div>
</form>
<%if(locals.available===true){%>
    <div class="card m-5">
        <div class="card p-4 m-2">
            Total available slots : <%= slots.length %>
        </div>
        <form action="/users/appointment/book-appointment" method="post">
            <input class="form-control" type="date" id="dob" name="date" value="<%=locals.date%>"
                style="visibility:hidden;">

            <%slots.forEach((element)=>{%>
                <div class="btn btn-outline-success m-4 myViewBlock" onclick="selectmyRadio('<%=element.id%>')">
                    <div class="form-check m-4">
                        <input class="form-check-input" type="radio" name="slot" value="<%=element.id%>"
                            id="<%=element.id%>">
                        <label class="form-check-label" for="flexRadioDefault1">
                            <div>
                                <div>
                                    Start time : <%=element.start_time%>
                                </div>
                                <div>
                                    End time : <%=element.end_time%>
                                </div>
                            </div>
                        </label>
                    </div>
                </div>
                <%});%>
                    <div class="text-center">
                        <button class="btn btn-success my-4 btn-lg" type="submit">Book</button>
                    </div>
        </form>
    </div>
    <%}%>
        <div class="mb-2">&nbsp;</div>
        <div class="mb-3">&nbsp;</div>

        <script>
            function selectmyRadio(id) {
                var radioButton = document.getElementById(id);
                radioButton.checked = true;
            }
        </script>