<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href='https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css'>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900">

    <link rel="stylesheet" type="text/css" href="/css/layout.css">
    <link rel="stylesheet" type="text/css" href="/css/_footer.css">
    <link rel="stylesheet" type="text/css" href="/css/home.css">
    <link rel="stylesheet" type="text/css" href="/css/about.css">
    <link rel="stylesheet" type="text/css" href="/css/nav.css">
    <link rel="stylesheet" type="text/css" href="/css/contact.css">
    <link rel="stylesheet" type="text/css" href="/css/appointment_draft.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Shuffle/6.1.0/shuffle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
    <script src="/js/_footer.bootstrap.min.js"></script>
    <script src="/js/_footer.main.js"></script>
    <script src="/js/_footer.js"></script>


    <!-- <link rel="stylesheet" type="text/css" href="/css/blogs_footer.css"> -->

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Code&family=Roboto:wght@300;400;500;700;900&display=swap"
        rel="stylesheet">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css"
        rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
    <script src="plugins/google-map/map.js"></script>
    <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAkeLMlsiwzp6b3Gnaxd86lvakimwGA6UA&callback=initMap"></script>
    <script src="/js/contact.js"></script>
    <script src="/js/script.js"></script>
    <link
        rel="stylesheet"
        type="text/css"
        href="https://api.tomtom.com/maps-sdk-for-web/cdn/plugins/SearchBox/3.1.3-public-preview.0/SearchBox.css"
    />
    <script src="https://api.tomtom.com/maps-sdk-for-web/cdn/6.x/6.1.2-public-preview.15/services/services-web.min.js"></script>
    <script src="https://api.tomtom.com/maps-sdk-for-web/cdn/plugins/SearchBox/3.1.3-public-preview.0/SearchBox-web.js"></script>
    <%- style %>

</head>

<body>

    <%- include('./nav.ejs') %>


        <main>
            <%- body %>
        </main>

        <%- script %>
            <script>
            <% if (flash.success && flash.success.length > 0) { %>

                    new Noty({
                        theme: 'relax',
                        text: '<%=flash.success%>',
                        type: 'success',
                        layout: 'topRight',
                        timeout: 1500
                    }).show();
        <% } %>

        <% if (flash.error && flash.error.length > 0) { %>
                    new Noty({
                        theme: 'relax',
                        text: '<%=flash.error%>',
                        type: 'error',
                        layout: 'topRight',
                        timeout: 1500
                    }).show();
        <% } %>
            </script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
                crossorigin="anonymous"></script>

            <script>
                    $(document).ready(function () {
                        $('#datepicker').datepicker();
                    });
            </script>
            <script>
                const contactInput = document.getElementById('contact');
                const contactFeedback = document.getElementById('contact-feedback');

                contactInput.addEventListener('input', () => {
                    const contactString = contactInput.value;

                    const enteredContact = contactInput.value.trim();
                    const contactPattern = /^\d{10}$/;

                    if (contactPattern.test(enteredContact)) {
                        contactFeedback.textContent = 'Contact is valid.';
                        contactFeedback.style.color = 'green';
                    } else {
                        contactFeedback.textContent = 'Contact is Invalid.';
                        contactFeedback.style.color = 'red';
                    }
                });
            </script>
            <script>
                // Get references to the input field and feedback element
                const WeightInput = document.getElementById('weight');
                const WeightFeedback = document.getElementById('weight-feedback');

                // Add an event listener to the input field for input events
                WeightInput.addEventListener('input', function () {
                    // Get the entered PIN code
                    const enteredPin = WeightInput.value.trim();

                    // Define a regular expression to match a 6-digit PIN code
                    const WeightPattern = /^\d{1,3}$/;

                    // Check if the entered PIN code matches the pattern
                    if (WeightPattern.test(enteredPin)) {
                        // Valid PIN code
                        WeightFeedback.textContent = 'Weight is valid.';
                        WeightFeedback.style.color = 'green';
                    } else {
                        // Invalid PIN code
                        WeightFeedback.textContent = 'Weight is Invalid.';
                        WeightFeedback.style.color = 'red';
                    }
                });
            </script>

            <script>
                const dobInput = document.getElementById("dob");
                const resultElement = document.getElementById("ageResult");

                dobInput.addEventListener("input", function () {
                    const dobValue = dobInput.value;
                    if (dobValue) {
                        const dobDate = new Date(dobValue);
                        const today = new Date();
                        const ageInMilliseconds = today - dobDate;

                        // Calculate age in years
                        const ageInYears = Math.floor(ageInMilliseconds / (365.25 * 24 * 60 * 60 * 1000));
                        resultElement.textContent = `Age: ${ageInYears} years`;
                    }
                    else {
                        resultElement.textContent = "Please enter a valid date of birth.";
                        return;
                    }
                });
            </script>
            <%- include('./_footer.ejs') %>
</body>

</html>