<%var dateString=user.birth_date;var dateObject=new Date(dateString); var year=dateObject.getFullYear();var
    month=dateObject.getMonth() + 1; var day=dateObject.getDate();var formattedDate=year + "-" + (month < 10 ? "0" +
    month : month) + "-" + (day < 10 ? "0" + day : day);%>
    <div class="mt-1">&nbsp;</div>
    <div class="container mt-5  ">
        <div class="row d-flex justify-content-center">
            <div class="col-md-4 text-center">
                <div class="card my-4">
                    <%if (!user.gender) {
                        if(mode.role==='Patient'){%>
                            <img src="/images/ll.avif" class="img-fluid" alt="/images/ll.avif">
                        <%} else if(mode.role === 'Hospital'){%>
                            <img src="/images/hospital.jpg" class="img-fluid" alt="Hospital">
                        <%} else if(mode.role === 'Doctor'){%>
                            <img src="/images/ll.png" class="img-fluid" alt="Doctor">
                        <%} else if(mode.role === 'Laboratory'){%>
                            <img src="/images/laboratory.webp" class="img-fluid" alt="Laboratory">
                        <%} else if(mode.role === 'Pharmacy'){%>
                            <img src="/images/pharmacy.jpg" class="img-fluid" alt="Pharmacy">
                        <%} else if(mode.role === 'Govt_Agency'){%>
                            <img src="/images/govt_agency.avif" class="img-fluid" alt="Govt_Agency">
                        <%} else {%>
                            <img src="https://img.freepik.com/premium-vector/medical-design_24877-33068.jpg?w=360"
                                class="img-fluid"
                                alt="https://img.freepik.com/premium-vector/medical-design_24877-33068.jpg?w=360">
                    <%}}else if(mode.role==='Patient' ){ if (user.gender!=='M' ) {%>
                                    <!-- <div class="d-flex flex-column align-items-center"> -->
                                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQbGc-Uc-W-jkadzT2jk-Kwv9nbcJoOdMuckpeshxI4hxdPmw3BQc0KROOIKRbbVaKGZiQ&usqp=CAU"
                                        class="img-fluid p-5" style="border-radius: 4rem;"
                                        alt="/https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQbGc-Uc-W-jkadzT2jk-Kwv9nbcJoOdMuckpeshxI4hxdPmw3BQc0KROOIKRbbVaKGZiQ&usqp=CAU">
                                    <!-- </div> -->
                                    <%}else{%>
                                        <img src="/images/ll.png" class="img-fluid" alt="/images/ll.avif">
                                        <% }}else{ if (user.gender==='M' ) {%>
                                            <img src="https://img.freepik.com/premium-vector/medical-design_24877-33068.jpg?w=360"
                                                class="img-fluid"
                                                alt="https://img.freepik.com/premium-vector/medical-design_24877-33068.jpg?w=360">
                                            <% }else{ %>
                                                <img src="https://img.freepik.com/premium-vector/avatar-female-doctor-with-black-hair-doctor-with-stethoscope-vector-illustrationxa_276184-33.jpg"
                                                    class="img-fluid"
                                                    alt="https://img.freepik.com/premium-vector/avatar-female-doctor-with-black-hair-doctor-with-stethoscope-vector-illustrationxa_276184-33.jpg">
                                                <% }}%>
                                                    <div class="card-body">
                                                        <h5 class="card-title">
                                                            <%=user.name%>
                                                        </h5>
                                                        <h6 class="card-subtitle mb-2 text-muted">
                                                            <%=user.email%>
                                                        </h6>
                                                        <h6 class="card-subtitle mb-2 text-muted">
                                                            <%=user.contact%>
                                                        </h6>
                                                        <h6 class="card-subtitle mb-2 text-muted dark">
                                                            <%=(mode.role).toUpperCase()%>
                                                        </h6>
                                                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card my-4">
                    <div class="card-body">
                        <h2 class="card-title">Profile</h2>
                        <div class="my-4">
                        <form id="timeForm" action="/users/update-profile/<%=mode.email%>" method="post">
                            <div class="form-group my-2">
                                <label for="name">Name:</label>
                                <input class="form-control" type="text" id="name" name="name" value="<%=user.name%>"
                                    placeholder="Enter your name">
                            </div>
                            <%if(mode.role === 'Doctor'){%>
                                <div class="form-group my-2">
                                    <label for="reg_no">Registration Number:</label>
                                    <input class="form-control" type="text" id="reg_no" name="reg_no" value="<%=user.reg_no%>"
                                        placeholder="Registration Number">
                                </div>
                            <%}%>
                            
                            <div class="form-group my-2">
                                <label for="username">Username:</label>
                                <div class="input-group mb-3">
                                    <span class="input-group-text" id="basic-addon1">@</span>
                                    <input class="form-control" type="text" id="username" name="username"
                                        value="<%=user.username%>" placeholder="Enter your username">
                                </div>
                            </div>
                            <div class="form-group my-2">
                                <label for="email">Email:</label>
                                <div class="input-group mb-3">
                                    <input class="form-control" type="email" id="email" name="email"
                                        value="<%=user.email%>" aria-label="Username"
                                        aria-describedby="basic-addon1" disabled>
                                </div>
                            </div>
                            
                            <%if(mode.role === 'Govt_Agency'){%>
                                <div class="form-group my-2">
                                    <label for="id">Identification Number:</label>
                                    <input class="form-control" type="text" id="id" name="id" value="<%=user.id%>"
                                        placeholder="Identification Number">
                                </div>
                            <%}%>

                            <%if(mode.role === 'Laboratory'){%>
                                <div class="form-group my-2">
                                    <label for="instruments">Instruments:</label>
                                    <textarea class="form-control" id="instruments" name="instruments"
                                        rows="3" placeholder="Instruments/Facilities available..."><%=user.instruments%></textarea>
                                </div>
                            <%}%>

                            <%if(mode.role === 'Doctor'){%>
                                <div>
                                    <label for="hospital">Hospital:</label>
                                    <div class="input-group mb-3">
                                        <input class="form-control" type="text" id="hospital" name="hospital"
                                            value="<%=hospital%>" aria-label="Hospital"
                                            aria-describedby="basic-addon1" disabled>
                                    </div>
                                    <label for="salary">Salary:</label>
                                    <div class="input-group mb-3">
                                        <input class="form-control" type="text" id="salary" name="salary"
                                            value="<%=salary%>" aria-label="Salary"
                                            aria-describedby="basic-addon1" disabled>
                                    </div>
                                </div>
                            <%}%>
                            <div>
                                <% if (user.gender || user.gender === null) {%>
                                    <label for="gender">Gender:</label>
                                    <%if(user.gender==='F'){%>
                                        <div class="d-flex justify-content-between" id="gender">
                                            <div>&nbsp;</div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="gender"
                                                    id="flexRadioDefault1" value="M">
                                                <label class="form-check-label" for="flexRadioDefault1">
                                                    Male
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="gender"
                                                    id="flexRadioDefault1" value="F" checked>
                                                <label class="form-check-label" for="flexRadioDefault1">
                                                    Female
                                                </label>
                                            </div>
                                            <div>&nbsp;</div>
                                            <div>&nbsp;</div>
                                        </div>
                                        <%}else{%>
                                            <div class="d-flex justify-content-between" id="gender">
                                                <div>&nbsp;</div>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="gender"
                                                        id="flexRadioDefault1" value="M" checked>
                                                    <label class="form-check-label" for="flexRadioDefault1">
                                                        Male
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="gender"
                                                        id="flexRadioDefault1" value="F">
                                                    <label class="form-check-label" for="flexRadioDefault1">
                                                        Female
                                                    </label>
                                                </div>
                                                <div>&nbsp;</div>
                                                <div>&nbsp;</div>
                                            </div>
                                            <%}%>                                    
                                        </div>
                                <%}%>
                            
                            <%if(mode.role === 'Patient' || mode.role === 'Doctor' || mode.role === 'Hospital'){%>
                                <div class="form-group my-2">
                                    <label for="address">Address:</label>
                                    <textarea class="form-control" id="address" name="address"
                                        rows="4" placeholder="Enter your text here..."><%=user.address%></textarea>
                                </div>
                            <%} else if(mode.role === 'Pharmacy' || mode.role === 'Laboratory'){%>
                                <div class="form-group my-2">
                                    <label for="hospital">Hospital:</label>
                                    <input class="form-control" type="text" id="hospital" name="hospital"
                                        value="<%=hospital%>" placeholder="Hospital" disabled>
                                </div>
                            <%}%>

                            <%if(mode.role==='Patient'){%>
                                <div class="form-group my-2">
                                    <label for="dob">Date of Birth:</label>
                                    <input class="form-control" type="date" id="dob" name="birth_date"
                                        value="<%=user.birth_date%>" placeholder="Select Date of Birth">
                                </div>
                                <div class="form-group my-2">
                                    <label for="blood_group">Blood Group:</label>
                                    <select class="form-select" aria-label="Default select example" id="blood_group" name="blood_group">
                                        <option value="NA" <%=(user.blood_group === 'null') ? 'selected' : '' %>>Select</option>
                                        <option value="A+" <%=(user.blood_group === 'A+') ? 'selected' : '' %>>A+</option>
                                        <option value="A-" <%=(user.blood_group === 'A-') ? 'selected' : '' %>>A-</option>
                                        <option value="B+" <%=(user.blood_group === 'B+') ? 'selected' : '' %>>B+</option>
                                        <option value="B-" <%=(user.blood_group === 'B-') ? 'selected' : '' %>>B-</option>
                                        <option value="O+" <%=(user.blood_group === 'O+') ? 'selected' : '' %>>O+</option>
                                        <option value="O-" <%=(user.blood_group === 'O-') ? 'selected' : '' %>>O-</option>
                                        <option value="AB+" <%=(user.blood_group === 'AB+') ? 'selected' : '' %>>AB+</option>
                                        <option value="AB-" <%=(user.blood_group === 'AB-') ? 'selected' : '' %>>AB-</option>
                                    </select>
                                </div>                                
                                <div class="form-group my-2">
                                    <label for="weight">Weight:</label>
                                    <input class="form-control" type="number" id="weight" name="weight"
                                        value="<%=user.weight%>" placeholder="e.g. 45 (in kg)">
                                    <p id="weight-feedback"></p>
                                </div>

                                <div class="form-group my-2">
                                    <label for="height">Height:</label>
                                    <input class="form-control" type="number" id="height" name="height"
                                        value="<%=user.height%>" placeholder="e.g. 150 (in cms)">
                                    <p id="height-feedback"></p>
                                </div>                

                                <div class="form-group my-2">
                                    <label for="diseases">Diseases:</label>
                                    <input class="form-control" type="text" id="diseases" name="diseases"
                                        value="<%=user.diseases%>" placeholder="Any Diseases?">
                                </div>

                                <div class="form-group my-2">
                                    <label for="history">History:</label>
                                    <input class="form-control" type="text" id="history" name="past_history"
                                        value="<%=user.past_history%>" placeholder="Enter your history" disabled>
                                </div>
                                <%}%>
                                
                                <div class="form-group my-2">
                                    
                                        <% if(mode.role === 'Hospital') {%>
                                            <label for="contact">Contact1:</label>
                                            <div class="input-group mb-3">
                                                <span class="input-group-text" id="basic-addon1">+91</span>
                                                <input class="form-control" type="text" class="contact" name="contact1"
                                                <%contact.forEach(contact => {%>
                                                    <%if(contact.index === 1){%>
                                                        value="<%=contact.contact%>"
                                                    <%}
                                                });%>
                                                value="<%=user.contact%>" placeholder="Enter your contact number">
                                            </div>

                                            <label for="contact">Contact2:</label>
                                            <div class="input-group mb-3">
                                                <span class="input-group-text" id="basic-addon1">+91</span>
                                                <input class="form-control" type="text" class="contact" name="contact2"
                                                <%contact.forEach(contact => {%>
                                                    <%if(contact.index === 2){%>
                                                        value="<%=contact.contact%>"
                                                    <%}
                                                });%>
                                                placeholder="Enter your contact number">
                                            </div>
                                            
                                            <label for="contact">Landline:</label>
                                            <div class="input-group mb-3">
                                                <span class="input-group-text" id="basic-addon1">0</span>
                                                <input class="form-control" type="text" class="contact" name="landline"
                                                <%contact.forEach(contact => {%>
                                                    <%if(contact.index === 3){%>
                                                        value="<%=contact.contact%>"
                                                    <%}
                                                });%>
                                                value="<%=user.contact%>" placeholder="Enter your landline number">
                                            </div>
                                        <%} else {%>
                                            <label for="contact">Contact:</label>
                                            <div class="input-group mb-3">
                                                <input class="form-control" type="text" class="contact" name="contact"
                                                value="<%=user.contact%>" placeholder="Enter your contact number">
                                            </div>
                                        <%}%>
                                    
                                    <p id="contact-feedback"></p>
                                </div>
                                                               

                                <%if(mode.role==='Doctor'){%>
                                    <div class="form-group my-2">
                                        <label for="experience">Experience:</label>
                                        <textarea class="form-control" id="experience" name="experience"
                                            rows="3" placeholder="Your Experience..."><%=user.experience%></textarea>
                                    </div>
                                    <div class="form-group my-2">
                                        <label for="qualification">Qualification:</label>
                                        <textarea class="form-control" id="qualification" name="qualification"
                                            rows="3" placeholder="Your Qualifications..."><%=user.qualification%></textarea>
                                    </div>
                                    <div class="form-group my-2">
                                        <label for="specialization">Specialization:</label>
                                        <textarea class="form-control" id="specialization" name="specialization"
                                            rows="3" placeholder="Your Specializations..."><%=user.specialization%></textarea>
                                    </div>
                                    <div class="form-group my-2">
                                        <label for="institute">Institute:</label>
                                        <textarea class="form-control" id="institute" name="institute"
                                            rows="3" placeholder="Institutes you were enrolled in..."><%=user.institute%></textarea>
                                    </div>

                                    <div class="form-group my-2">
                                        <label for="openingTime">Opening time:</label>
                                        <div class="input-group w-50">
                                            <input type="time" class="form-control" id="openingTime"
                                                name="start_time" value="<%=start_time%>" min="00:00"
                                                max="23:59">
                                        </div>
                                    </div>

                                    <div class="form-group my-2">
                                        <label for="closingTime">Closing time:</label>
                                        <div class="input-group w-50">
                                            <input type="time" class="form-control" id="closingTime"
                                                name="end_time" value="<%=end_time%>" min="00:00"
                                                max="23:59">
                                        </div>
                                    </div>

                                    <div class="text-danger" id="validationMessage"></div>
                                <%}%>

                                <%if(mode.role==='Hospital'){%>
                                    <div class="form-group my-2">
                                        <label for="total_doctors">Total Doctors:</label>
                                        <input class="form-control" id="total_doctors" name="total_doctors"
                                            value="<%=total_doctors%>" disabled>
                                    </div>
                                    <div class="form-group my-2">
                                        <label for="specialities">Specialities:</label>
                                        <textarea class="form-control" id="specialities" name="specialities"
                                        rows="3" placeholder="Specialities"><%=user.specialities%></textarea>
                                    </div>
                                    <div class="form-group my-2">
                                        <label for="insurance_policies">Insurance Policies:</label>
                                        <textarea class="form-control" id="insurance_policies" name="insurance_policies"
                                            rows="3" placeholder="Insurance Policies"><%=user.insurance_policies%></textarea>
                                    </div>

                                    <div class="form-group my-2">
                                        <label for="cashless">Cashless</label>
                                        <input class="form-control" id="cashless" name="cashless"
                                            value="<%=user.cashless%>" placeholder="Yes/No">
                                    </div>

                                    <h2>Beds: </h2>
                                    <div class="form-group my-2">
                                        <label for="icu">ICU</label>
                                        <input class="form-control" id="icu" name="icu"
                                            value="<%=user.icu%>" placeholder="999">
                                    </div>

                                    <div class="form-group my-2">
                                        <label for="iicu">IICU</label>
                                        <input class="form-control" id="iicu" name="iicu"
                                            value="<%=user.iicu%>" placeholder="999">
                                    </div>

                                    <div class="form-group my-2">
                                        <label for="operation_theatres">Operation Theatres</label>
                                        <input class="form-control" id="operation_theatres" name="operation_theatres"
                                            value="<%=user.operation_theatres%>" placeholder="999">
                                    </div>

                                    <div class="form-group my-2">
                                        <label for="general_ward">General Ward</label>
                                        <input class="form-control" id="general_ward" name="general_ward"
                                            value="<%=user.general_ward%>" placeholder="999">
                                    </div>
                                    
                                    <h2>Staff: </h2>
                                    <div class="form-group my-2">
                                        <label for="nurse">Nurse</label>
                                        <input class="form-control" id="nurse" name="nurse"
                                            value="<%=user.nurse%>" placeholder="nurse">
                                    </div>

                                    <div class="form-group my-2">
                                        <label for="interns">Interns</label>
                                        <input class="form-control" id="interns" name="interns"
                                            value="<%=user.interns%>" placeholder="interns">
                                    </div>

                                    <div class="form-group my-2">
                                        <label for="ot_technicians">OT Technicians</label>
                                        <input class="form-control" id="ot_technicians" name="ot_technicians"
                                            value="<%=user.ot_technicians%>" placeholder="ot_technicians">
                                    </div>
                                <%}%>

                                <div class="text-center">
                                    <button class="btn btn-success my-4" type="submit">Submit</button>
                                </div>

                        </form>
                    </div>

                </div>
            </div>
        </div>